.topbar {
  background-color: #efefef;
}

.topbar .facebook-icon {
  color: #1877f2;
  width: 30px;
}

.topbar .instagram-logo {
  color: #c32aa3;
  width: 30px;
}

.topbar .youtube-logo {
  color: #ff0000;
  width: 40px;
}

.topbar .linkedin-logo {
  color: #0077b5;
  width: 30px;
}

.swiper-caption h2 {
  max-width: 500px;
}

.navbar .phone {
  min-width: 210px;
}

.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  border: solid 1px #383636;
  border-radius: 50%;
}

.footer-social a:hover {
  border: solid 1px white;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  z-index: 5;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.swiper-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: left;
  z-index: 10;
  width: 100%;
}

@media (max-width: 600px) {
  .topbar .social-icons {
    gap: 1rem !important;
  }
}

@media (max-width: 576px) {
  .topbar .container {
    flex-direction: column;
    align-items: center;
  }

  .topbar .social-icons,
  .topbar .btn {
    margin: 5px 0;
  }
}

@media (max-width: 420px) {
  .topbar .social-icons {
    gap: 0.5rem !important;
  }
}

@media (max-width: 991px) {
  .navbar .notification-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar .phone {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .gradient-overlay {
    width: 90%;
  }

  .main-slider li {
    font-weight: 500;
  }

  .main-slider .lead {
    font-weight: 500;
  }

  .swiper.main-slider {
    height: 60vh;
  }

  .swiper-slide img {
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 50%;
  }
}
